<div class="container">
    <div class="jumbotron">
        <h1 class="display-4">Welcome to the Weather Network!</h1>
        <p class="lead">This is a simple Weather application.</p>
        <hr class="my-4">
        <p>There are following tasks you are able to do here.</p>

        <button type="button" class="btn btn-outline-info" routerLink="/app/weather/toronto">Toronto Weather</button> &nbsp;
        <button type="button" class="btn btn-outline-info" routerLink="/app/weather/montreal">Montreal Weather</button> &nbsp;
        <button type="button" class="btn btn-outline-info" routerLink="/app/gallery">Gallery</button> &nbsp;
        <button type="button" class="btn btn-outline-info" routerLink="/app/contact">Contact</button> &nbsp;
    
      </div>
</div>
