<div class="container">
    <div class="jumbotron">
        <h1 class="display-4">Welcome to the Weather Network!</h1>
        <p class="lead">This is a simple application you will be able to do following tasks.</p>
        <hr class="my-4">
        <p>It uses utility classes for typography and spacing to space content out within the larger container.</p>
        
        <button type="button" class="btn btn-outline-info" routerLink="/weather/toronto">Toronto Weather</button> &nbsp;
        <button type="button" class="btn btn-outline-info" routerLink="/weather/montreal">Montreal Weather</button> &nbsp;
        <button type="button" class="btn btn-outline-info" routerLink="/gallery">Gallery</button> &nbsp;
        <button type="button" class="btn btn-outline-info" routerLink="/photo">Photo</button> &nbsp;
        <button type="button" class="btn btn-outline-info" routerLink="/contact">Contact</button> &nbsp;
      </div>
</div>
