<div class="container">
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a routerLink="/app/weather">Weather</a></li>
          <li class="breadcrumb-item active" aria-current="page">Details</li>
        </ol>
    </nav>
    <div *ngIf="loading"><h1 class="display-4 text-info">Loading ...</h1></div>
    <div *ngIf="error"><h3 class="text-warning">{{error.message}}</h3> </div>
    <div class="jumbotron" *ngIf="data">
        <h2> <span class="display-4 text-capitalize">{{city}}</span>&nbsp;<span class="display-2 text-info">{{data.temperature}}&deg;{{data.temperature_unit}}</span></h2>
        <p>Feels like: <span class="lead">{{data.feels_like}}&deg;{{data.temperature_unit}} &nbsp; {{data.wxcondition}}</span></p>
        <p class="float-right">{{data.lbl_updatetime}} {{data.updatetime}}</p>
        <hr class="my-3">
        <button type="button" class="btn btn-outline-info" routerLink="/app/weather">Back</button> &nbsp;
    </div>
</div>